{
  "folders": [
    {
      "path": ".",
      "name": "espial",
      // "folder_exclude_patterns": [],
      "file_exclude_patterns": ["*.example", "*.sublime-workspace"],
    },
  ],
  "settings": {
  },
}
